body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

form {
  margin-left: 700px;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  margin: auto;
  padding: 10px 20px;
  background-color: #0fcf86;
  color: rgb(207, 24, 125);
  border: solid 2px;
  border-color: black;
  cursor: pointer;
}

button:hover {
  background-color: #24c40f;
}

.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: #0056b3;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);

  gap: 10px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 14px;
  color: #333;
}

.info p {
  margin-bottom: 10px;
}

/*  */

#caption {
  margin: 20px auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #0c9e38;
  padding: 10px 0;
  height: 150px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 54px;
  color: #333;
}

.loader::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 5px solid #e20707;
  border-radius: 50%;
  border-top-color: #0787ad;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
